vptaskadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vptaskadf"
		},
		"BlbSinkIncre_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlbSinkIncre'"
		},
		"DBLinkService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DBLinkService'"
		},
		"vptasksnowflake_connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'vptasksnowflake_connection'"
		},
		"vaptaskblob_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'vaptaskblob'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BlbSinkIncre')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlbSinkIncre_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBLinkService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DBLinkService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vaptaskblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('vaptaskblob_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vptasksnowflake_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is a linked services that holds connection strings for snowflakes",
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('vptasksnowflake_connection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "CreatedDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRejectionDateUtc",
						"type": "varchar"
					},
					{
						"name": "UndoCancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancelledEmployee",
						"type": "varchar"
					},
					{
						"name": "SoldEmployee",
						"type": "varchar"
					},
					{
						"name": "UpdatedDateUtc",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompanyLeads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vaptaskblob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TaskDummyData.csv",
						"container": "vptask"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vaptaskblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBtoBlobSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "CreatedDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRejectionDateUtc",
						"type": "varchar"
					},
					{
						"name": "UndoCancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancelledEmployee",
						"type": "varchar"
					},
					{
						"name": "SoldEmployee",
						"type": "varchar"
					},
					{
						"name": "UpdatedDateUtc",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompanyLeads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFlowDb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "CreatedDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRejectionDateUtc",
						"type": "varchar"
					},
					{
						"name": "UndoCancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancelledEmployee",
						"type": "varchar"
					},
					{
						"name": "SoldEmployee",
						"type": "varchar"
					},
					{
						"name": "UpdatedDateUtc",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompanyLeads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DbtoBlobSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlbSinkIncre",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "vptask"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "C817066B-AA29-CD75-D786-08DB92790896",
						"type": "String"
					},
					{
						"name": "0",
						"type": "String"
					},
					{
						"name": "8/1/2023 10:212",
						"type": "String"
					},
					{
						"name": "NULL3",
						"type": "String"
					},
					{
						"name": "NULL4",
						"type": "String"
					},
					{
						"name": "NULL5",
						"type": "String"
					},
					{
						"name": "NULL6",
						"type": "String"
					},
					{
						"name": "NULL7",
						"type": "String"
					},
					{
						"name": "abcd@pflegehilfe.de",
						"type": "String"
					},
					{
						"name": "8/1/2023 10:219",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlbSinkIncre')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Newdb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "uniqueidentifier"
					},
					{
						"name": "State",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreatedDateUtc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationDateUtc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationRejectionDateUtc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UndoCancellationDateUtc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancelledEmployee",
						"type": "nvarchar"
					},
					{
						"name": "SoldEmployee",
						"type": "nvarchar"
					},
					{
						"name": "UpdatedDateUtc",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompanyLeads2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vptasksnowflake_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "ID",
						"type": "VARCHAR",
						"precision": 50,
						"scale": 0
					},
					{
						"name": "STATE",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CREATEDDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLATIONREQUESTDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLATIONDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLATIONREJECTIONDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "UNDOCANCELLATIONDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLEDEMPLOYEE",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "SOLDEMPLOYEE",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "UPDATEDDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "PUBLIC",
					"table": "COMPANYLEADS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vptasksnowflake_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/testing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CreatedDateUtc",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "CancellationDateUtc",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "CancellationRejetionDateUtc",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "UndoCancellationDateUtc",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "CancelledEmployee",
						"type": "nvarchar"
					},
					{
						"name": "SoldEmployee",
						"type": "nvarchar"
					},
					{
						"name": "UpdatedDateUtc",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompanyLeads2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VPTaskFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DBtoBlobSource",
								"type": "DatasetReference"
							},
							"name": "Database"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DbtoBlobSink",
								"type": "DatasetReference"
							},
							"name": "Blob"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Id as string,",
						"          State as string,",
						"          CreatedDateUtc as string,",
						"          CancellationRequestDateUtc as string,",
						"          CancellationDateUtc as string,",
						"          CancellationRejectionDateUtc as string,",
						"          UndoCancellationDateUtc as string,",
						"          CancelledEmployee as string,",
						"          SoldEmployee as string,",
						"          UpdatedDateUtc as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     waterMarkColumn: 'UpdatedDateUtc',",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Database",
						"Database sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          {C817066B-AA29-CD75-D786-08DB92790896} as string,",
						"          {0} as string,",
						"          {8/1/2023 10:212} as string,",
						"          NULL3 as string,",
						"          NULL4 as string,",
						"          NULL5 as string,",
						"          NULL6 as string,",
						"          NULL7 as string,",
						"          {abcd@pflegehilfe.de} as string,",
						"          {8/1/2023 10:219} as string",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Blob"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DBtoBlobSource')]",
				"[concat(variables('factoryId'), '/datasets/DbtoBlobSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VPTaskPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bob to Snowflake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "VPTaskFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "vaptaskblob",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "ID",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "CREATEDDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "CANCELLATIONREQUESTDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "CANCELLATIONDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "CANCELLATIONREJECTIONDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "UNDOCANCELLATIONDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "CANCELLEDEMPLOYEE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "SOLDEMPLOYEE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "UPDATEDDATEUTC",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BlobData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "CreatedDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "CancellationRequestDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "CancellationDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "CancellationRejectionDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "UndoCancellationDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "CancelledEmployee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "SoldEmployee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "UpdatedDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BlobData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VPTaskFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Blob to DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "VPTaskFlow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Database": {},
									"Blob": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BlobData')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/dataflows/VPTaskFlow')]",
				"[concat(variables('factoryId'), '/linkedServices/vaptaskblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VPTaskPTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "VPTaskPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2023-08-06T22:13:00Z",
						"endTime": "2023-08-31T22:13:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VPTaskPipeline')]"
			]
		}
	]
}