vptaskadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vptaskadf"
		},
		"DBLinkService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DBLinkService'"
		},
		"vptasksnowflake_connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'vptasksnowflake_connection'"
		},
		"vaptaskblob_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'vaptaskblob'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VPTaskPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bob to Snowflake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Blob to DB",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "vaptaskblob",
									"type": "LinkedServiceReference"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreatedDateUtc",
											"type": "String"
										},
										"sink": {
											"name": "CREATEDDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CancellationRequestDateUtc",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATIONREQUESTDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CancellationDateUtc",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATIONDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CancellationRejectionDateUtc",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATIONREJECTIONDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UndoCancellationDateUtc",
											"type": "String"
										},
										"sink": {
											"name": "UNDOCANCELLATIONDATEUTC",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CancelledEmployee",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLEDEMPLOYEE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SoldEmployee",
											"type": "String"
										},
										"sink": {
											"name": "SOLDEMPLOYEE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UpdatedDateUtc",
											"type": "String"
										},
										"sink": {
											"name": "UPDATEDDATEUTC",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedDateUtc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CreatedDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CancellationRequestDateUtc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CancellationRequestDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CancellationDateUtc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CancellationDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CancellationRejectionDateUtc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CancellationRejectionDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UndoCancellationDateUtc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UndoCancellationDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CancelledEmployee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CancelledEmployee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SoldEmployee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SoldEmployee",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UpdatedDateUtc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UpdatedDateUtc",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/vaptaskblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DBLinkService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "CreatedDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRequestDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancellationRejectionDateUtc",
						"type": "varchar"
					},
					{
						"name": "UndoCancellationDateUtc",
						"type": "varchar"
					},
					{
						"name": "CancelledEmployee",
						"type": "varchar"
					},
					{
						"name": "SoldEmployee",
						"type": "varchar"
					},
					{
						"name": "UpdatedDateUtc",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CompanyLeads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DBLinkService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vaptaskblob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TaskDummyData.csv",
						"container": "vptask"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\r",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vaptaskblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vaptaskblob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TaskDummyData.csv",
						"container": "vptask"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vaptaskblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "vptasksnowflake_connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "ID",
						"type": "VARCHAR",
						"precision": 50,
						"scale": 0
					},
					{
						"name": "STATE",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CREATEDDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLATIONREQUESTDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLATIONDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLATIONREJECTIONDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "UNDOCANCELLATIONDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "CANCELLEDEMPLOYEE",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "SOLDEMPLOYEE",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "UPDATEDDATEUTC",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "PUBLIC",
					"table": "COMPANYLEADS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vptasksnowflake_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBLinkService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DBLinkService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vaptaskblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('vaptaskblob_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vptasksnowflake_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is a linked services that holds connection strings for snowflakes",
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('vptasksnowflake_connection_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}